<%= form_with(scope: :comment, url: comments_path, class: 'comment-form') do |f| %>
  <span class='photo'><%#= image_tag() %></span>
  <%= f.text_area :content, placeholder: 'Write a comment', rows: 1 %>
  <%= f.hidden_field :subject_id,      value: subject.id %>
  <%= f.hidden_field :user_id,         value: current_user.id %>
  <%= hidden_field :subject_author_id, value: subject.user.id %>
  <%= f.hidden_field :subject_type,    value: subject.class.name %>
<% end %>