<div class="likes">
  <header>
    <%= render 'emoji', likes: @likes %>
    <button class='close'><%= icon('fas', 'times') %></button>
  </header>
  <ul>
    <% @likes.each do |like| %>
      <li>
        <%= link_to like.user, class: 'photo' do %>
          <%= icon('fas', like_icon(like.kind)) %>
        <% end %>
        <%= link_to like.user, class: 'user-link' do %>
          <%= like.user.name %>
        <% end %>
        <%= link_to friendships_path(requestor_id: current_user.id, acceptor_id: like.user.id),
                    remote: true do %>
          <%= icon('fas', 'user-plus') %> Add Friend
        <% end %>
      </li>
    <% end %>
  </ul>
</div>