<% if users.any? %>
  <ul>
    <% users.each do |user| %>
      <% friendship = current_user.friendship(user) %>
      <li>
        <%= link_to user, class: 'photo' do %>
        <% end %>
        <%= link_to user, class: 'name' do %>
          <%= user.name %>
        <% end %>
        <% if friendship.nil? %>
          <%= link_to friendships_path(
                        friendship: {requestor_id: current_user.id, acceptor_id: user.id, status: 'pending'}),
                      method: :post, class: 'addfriend' do %>
            <%= icon('fas', 'user-plus') %> Add Friend
          <% end %>
        <% elsif friendship.pending? %>
          <% if friendship.requestor == current_user %>
            <%= link_to 'Friend Request Sent', friendship_path(friendship),
                        method: :delete, class: 'delete' %>
          <% else %>
            <%= link_to 'Confirm', friendship_path(friendship),
                        method: :patch, class: 'confirm' %>
            <%= link_to 'Delete', friendship_path(friendship),
                        method: :delete, class: 'delete' %>
          <% end %>
        <% elsif friendship.accepted? %>
          <%= link_to 'Unfriend', friendship, method: :delete, class: 'delete' %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
