<section class="devise">
  <h2>Sign in to continue</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <div class="password">
        <%= f.label :password %>
        <%= link_to "Forgot your password?", new_password_path(resource_name) %>
      </div>
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <div class="field checkbox">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>

    <div class="actions">
      <%= f.submit "Sign in" %>
    </div>
  <% end %>

  <div class="separator">
    <span class="line"></span><span class="text">or</span><span class="line"></span>
  </div>

  <div class="omniauth">
    <%- resource_class.omniauth_providers.each do |provider| %>
      <%= link_to "Continue with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %>
    <% end %>
  </div>

  <div class="logout">
    New to Allbook? <%= link_to "Create an account", new_registration_path(resource_name) %>
  </div>
</section>
