<li class="post">
  <header>
    <%= link_to post.user do %>
      <%#= image_tag(post.user.photo_path) %>
    <% end %>
    <%= link_to post.user.name, post.user %>
  </header>
  <section>
    <div class="title"><%= post.title %></div>
    <div class="content"><%= post.content %></div>
    <div class="load">
      <%= link_to "Likes", post_likes_path(post), remote: true %>
      <%= link_to "Comments", post_comments_path(post) %>
    </div>
  </section>
  <footer>
    <div class='reactions'>
      <%= render 'likes/form', subject: post %>
      <button class="comment"><%= icon('far', 'comment-alt') %> Comment</button>
    </div>
    <ul class="comment-list"></ul>
    <%= render 'comments/form', subject: post %>
  </footer>
</li>