<header>
  <h1 class="title"><%= link_to 'Allbook', root_path %></h1>
  <% if user_signed_in? %>
    <nav>
      <ul>
        <li>
          <%= link_to current_user, class: 'profile-link' do %>
            <span class="photo">
              <%#= image_tag(current_user.photo_path) %>
            </span>
            <%= current_user.username || (current_user.name && current_user.name.split[0]) %>
          <% end %>
        </li>
        <li><%= link_to 'Home', root_path %></li>
        <li>
          <%= link_to notifications_path do%>
            <%= icon('fas', 'bell') %> Notifications
          <% end %>
        </li>
        <li class="f-menu">
          <%= link_to users_path do %>
            <%= icon('fas', 'user-friends') %> Find Friends
          <% end %>
          <%= link_to 'Friend Requests', friendships_path(s: 'r') %>
        </li>
        <li class="account">
          <%= icon('fas', 'chevron-down') %>
          <ul>
            <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
          </ul>
        </li>
      </ul>
    </nav>
  <% end %>
</header>