<!DOCTYPE html>
<html>
  <head>
    <title>Allbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render('layouts/header') if user_signed_in?  %>
    <main>
      <% if @user %>
        <aside><%= render('layouts/aside') %></aside>
      <% end %>
      <section><%= yield %></section>
    </main>
  </body>
</html>
