<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>FinalProject</title>
=======
    <title>MicroverseRorFinalProject</title>
>>>>>>> 5fcd229be034a03909e2bc4c8b6f8471ecdbf674
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
